
:host {
  font-family: "Halcyon";
}

h1 {
  font-size: 80px;
  color: white;
}

h2 {
  font-size: 60px;
}
.titles {
  padding-top: 40px;
}

.bla {
  height: 340px;
  min-width: 230px;
  background: rebeccapurple;
}
.owl-carousel .item {
  height: 10rem;
  background: #4DC7A0;
  padding: 1rem;
}
.carousel-item {
  height: 200px;
  min-width: 230px;
  background: darkblue;
}
.image {
  height: 300px;
}
